<!-- extend from base layout -->
{% extends "base.html" %}
{% import "macros/_macros.html" as macros %}

{% block title %}服务器{% endblock %}

{% block content %}

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="#">帐号和权限</a>
            </li>
            <li class="active">帐号管理</li>
        </ul>
        <!-- .breadcrumb -->

    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">

                <div class="page-content">
                    <div class="page-header">
                        <h1>
                            帐号管理
                            <small>
                        </h1>
                    </div>


                            <h6>

                    <div class="table-header">
                        当前用户数:<span class="badge badge-danger">{{total}}</span>
                    </div>
                    <div class="table-responsive">
                        <div role="grid" class="dataTables_wrapper" id="sample-table-2_wrapper">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div id="sample-table-2_length" class="dataTables_length">
                                        <p>
                                            <button class="btn btn-sm btn-success"
                                                    onclick="javascript:top.location='/user/ldapusersync';">
                                                <i class="fa fa-server"></i>
                                                同步用户(LDAP)
                                            </button>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div id="nav-search" class="nav-search">
                                        <form class="form-search" method='post'>
                                            <span class="input-icon">
                                                {{ form.s_content(id="nav-search-input", class_="nav-search-input", type="text", placeholder="搜索用户") }}
                                            <i class="icon-search nav-search-icon"></i>
                                            </span>
                                            {{form.csrf_token}}
                                        </form>
                                    </div>
                                </div>

                            </div>
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <caption></caption>
                                    <thead>
                                    <tr>
                                        <th>UID</th>
                                        <th>帐号</th>
                                        <th>姓名</th>
                                        <th>部门</th>
                                        <th>角色</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for R in object_list %}
                                    <tr>
                                        <td>{{R.uid}}</a></td>
                                        <td>{{R.account}}</td>
                                        <td>{{R.username}}</td>
                                        <td>{{R.depart}}</td>
                                        <td><a href="{{ url_for('perm.editrole', uid = R.uid)}}">{{R.role}}</a></td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                {% if pagination %}
                                <tr>
                                    <div class="dataTables_paginate paging_bootstrap">
                                        {{ macros.pagination_widget(pagination, '.users') }}
                                    </div>
                                </tr>
                                {% endif %}
                        </div>
                        </h6>
                    </div>


                    {% endblock %}