<style type="text/css">
    <!--
    p {
        text-indent: 2em;
    }

    -->
</style>
<h4>亲：</h4>
<h4>
    <p>
        您好！您在新浪爱彩的个人帐号：<font size=+2 color=blue>{{ account }}</font>，密码即将在<font size=+1 color=red>{{ expire_date }}</font>过期，请及时<a href="http://self.ums.inzwc.com">修改密码</a>以免密码过期不能登录内网系统/邮箱/RTX/WIFI/VPN！
    </p>
    <p>
        注：

        <ul>
         <li>密码有效期为三个月,过期后帐号将失效不能登录，请通过帐号自助系统重新激活帐号。</li>
         <li>密码修改或找回请登录<a href="http://self.ums.inzwc.com">帐号自助系统。</a></li>
         <li>帮助文档请点击访问<a href="http://wiki.intra.inzwc.com/pages/viewpage.action?pageId=10683382">WIKI页面</a>。</li>
        </ul>
    </p>
    <br>

    <p>新浪爱彩-系统运维部-帐号管理中心</p>

    <p>{{ today }}</p>