<!-- extend from base layout -->
{% extends "base.html" %}
{% import "macros/_macros.html" as macros %}

{% block title %}业务{% endblock %}
 
{% block content %}

        				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								<a href="/">Home</a>
							</li>

							<li>
								<a href="#">业务管理</a>
							</li>
							<li class="active">业务类别管理</li>
						</ul><!-- .breadcrumb -->

					</div>

					<div class="page-content">
						<div class="row">
							<div class="col-xs-12">

    <div class="page-content">
    <div class="page-header">
        <h1>
        业务类别管理
        <small>
        </h1>
    </div>
    <h6>

<div class="table-header">
	当前业务类别数量：<span class="badge badge-danger">{{total}}</span>
</div>
<div class="table-responsive">
    <div role="grid" class="dataTables_wrapper" id="sample-table-2_wrapper">
    <div class="row">
     <div class="col-sm-6">
         <div id="sample-table-2_length" class="dataTables_length">
             <p><button class="btn btn-sm btn-success" onclick="javascript:top.location='/business/addbusiness';">
                 <i class="fa fa-plus-square-o"></i> 添加新业务类别</button></p>
         </div>
     </div>

        <br>
        <br>
        <br>
        <br>
        {% with messages = get_flashed_messages() %}
                                    {% if messages %}
                                        <div class="alert alert-warning alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            {% for message in messages %}
                                                {{ message }}<br>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
        {% endwith %}


    </div>
    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
           <caption></caption>
           <thead>
               <tr>
                   <th>类别ID</th>
                   <th>类别名称</th>
                   <th>Beta_IP</th>
                   <th>Redis_IP</th>
                   <th>队列信息</th>
                   <th>Redis_DB</th>
                </tr>
           </thead>

          <tbody>
              {% for R in object_list %}
              <tr>
                  <td>{{R.id}}</td>
                  <td><a href="{{ url_for('business.editbusiness', id = R.id)}}">{{R.business_name}}</a></td>
                  <td>{{R.beta_ip}}</td>
                  <td><a href="#" class="ajax_checkredis_action" data-toggle="modal" data-target="#checkredis" value="{{ R.redis_ip }}" >Redis-IP: {{ R.redis_ip }} </a></td>
                  <td>
                      {% for item in redis_dict[R.redis_ip] %}
                          {% if item.get('keys') == None %}
                              Redis服务异常
                          {% else %}
                              {{ item.get('keys') }}:<span class="badge badge-danger">{{ item.get('qlen') }}</span><br>
                          {% endif %}
                      {% endfor %}
                  </td>
                  <td>{{R.redis_db}}</td>
              </tr>
              {% endfor %}
          </tbody>
    </table>

    {% if pagination %}
    <tr>
        <div class="dataTables_paginate paging_bootstrap">
        {{ macros.pagination_widget(pagination, '.business') }}</div>
    </tr>
    {% endif %}

    <div class="modal fade" id="checkredis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header no-padding">
                <div class="table-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button">
                        <span class="white">×</span>
                    </button>
                    Redis 队列详细信息
                </div>
            </div>
            <h7>
                <!-- 此处id="return_data"可让ajax改写该div的内容，ajax会把获取的数据填充到此div -->
                <div class="modal-body" id="checkredis_data">
                </div>

            </h7>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

    </div>
</div>

<script src="/static/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
        $(".ajax_checkredis_action").click(function () {                      // class="ajax_action"的链接被点击时触发操作
        var item = $(this).attr("value");// 获取值
        $.ajax({
            url: "{{url_for('business.business')}}?redis_ip="+item,
            datatype: 'html',
            async: false,
            success: function (check_data) {
                $("#checkredis_data").html(check_data);                // 改写id=return_data的div内容
            }, error: function () {
                console.log(check_data);
                alert("获取数据失败");
            }
        });
    });
</script>




{% endblock %}

